html {
  background-color: FFF8D4;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
@font-face {
  font-family: "Oswald";
  src: url("MomoSignature-Regular.TTF");
  font-weight: normal;
  font-style: normal;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  min-height: 148px;
  background-color: #a3b087;
  flex-direction: row;
  justify-content: space-between;
}
.bottom {
  padding-bottom: 20px;
}
.navbartext {
  display: flex;
  align-self: flex-end;
  margin-right: 50px;
  font-size: 50px;
  text-decoration: none;
}
.logo {
  display: flex;
  height: 15%;
  width: 15%;
}

.logo1 {
  height: 100%;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #a3b087;
  left: 0;
}

.first {
  margin-top: 200px;
}
.main-container {
  margin-top: 200px;
}
.zdjecie {
  max-width: 1024px;
  width: 90%;
  flex: 1 1 512px;
}
.zdjecieMniejsze {
  max-width: 512px;
  width: 90%;
}

.zdjecieGaleria {
  max-width: 512px;
}
.tekst-big {
  margin-left: 10px;
  align-self: center;
  align-content: center;
  text-align: center;
  justify-self: center;
  color: #435663;
  max-width: 1024px;
  flex: 1 1 512px;
  font-size: large;
}
.tekst {
  margin-left: 10px;
  align-self: center;
  align-content: center;
  text-align: center;
  justify-self: center;
  color: #435663;
}
.event-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.event-item-small {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.wydarzenia {
  width: 100%;
}

.body {
  font-family: "Oswald", sans-serif;
}

.button {
  /*border: none;*/
  background: none;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}

.video {
  max-height: 512px;
}
